@font-face {
	font-family: Bitter;
	font-display: swap;
	src: url("../fonts/Bitter.woff2") format("woff2"), url("../fonts/Bitter.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: voguersansfree;
	font-display: swap;
	src: url("../fonts/voguersansfree.woff2") format("woff2"), url("../fonts/voguersansfree.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CormorantSC;
	font-display: swap;
	src: url("../fonts/CormorantSC-SemiBold.woff2") format("woff2"), url("../fonts/CormorantSC-SemiBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CormorantSC;
	font-display: swap;
	src: url("../fonts/CormorantSC-Bold.woff2") format("woff2"), url("../fonts/CormorantSC-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
