@import "reset";
@import "global";
@import "fonts";


header {
    padding: 90px 0 50px;
    z-index: 100;
    animation: visual 1s ease-in;
}

header.header-page {
    padding: 86px 0 50px;
}

header ul {
    display: flex;
    gap: 40px;
    align-items: center;

    li {
        opacity: .7;
        transition: all 0.3s;

        h2 {
            font-size: 48px;
            font-weight: 400;
            line-height: 48px;
        }
    }
    li:nth-last-child(1){
        opacity: 1;
    }
    li:nth-last-child(1):hover{
        opacity: 0.7;
    }

    li:hover {
        opacity: 1;
    }
}

footer {
    background-color: var(--black);
    color: var(--white);
    padding: 20px 0;
    font-size: 14px;
    font-weight: 400;
    animation: visual 1s ease-in;

}

section {
    animation: visual 1s ease-in;

    img {
        position: absolute;
        height: 100%;
        width: 61vw;
        transform: translateX(39vw);
        object-fit: cover;
        z-index: -1;
        animation: visual 1.2s ease-in;

    }
    @keyframes visual {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

    .content {
        padding: 150px 0 50px;
        animation: visual 1s ease-in;
        h1 {
            font-size: 96px;
            margin-top: 50px;
            font-weight: 400;
        }
    }

    p {
        max-width: 26vw;
        font-size: 20px;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: 1.2px;
        margin-top: 75px;
    }
}

section.page {
    img {
        top: 0;
        height: 100%;
        width: 45vw;
        transform: translateX(55vw);
        object-fit: cover;

    }

    .content {
        padding: 150px 0 50px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: 100%;
        padding-bottom: 32vh;
    }

    .main-nav {
        position: absolute;
        bottom: 80px;
        left: 0;
        width: 50%;
    }

    p {
        max-width: 100%;
        font-size: 24px;
        font-style: italic;
        font-weight: 400;
        line-height: 140%;
        margin-top: 0;
    }

}

.main-nav {
    position: absolute;
    bottom: 80px;
    left: 0;
    width: 33%;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    max-width: 100%;

    .main-button {
        margin-top: 94px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 67px;
            height: 67px;
            border: 1px solid var(--black);
            border-radius: 50%;
            left: -18px;
            top: -14px;
            z-index: -1;
        }

        a {
            background-color: var(--white);
            padding-bottom: 16px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                bottom: -6px;
                left: 0;
                width: 50px;
                height: 20px;
                background-image: url(../img/icons/arrow.svg);
                background-repeat: no-repeat;
                transition: all 0.5s;
            }

            &:hover::before {
                left: 48px;
            }
        }
    }

    li {
        max-width: 255px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 0%;
            height: 100%;
            background-color: var(--black-color);
            z-index: -1;
            transition: all 0.5s ease-in-out;
        }

        a {
            box-sizing: border-box;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: 1.8px;
            padding: 7px 11px;
            width: 100%;
            color: var(--black-color);
            position: relative;
            transition: all 0.4s;
            
        }
        

    }
}
li.is_active::before{
    width: 100%;
}
li.is_active > a{
    color: var(--white);
}
.main-menu li:hover>a {
    color: var(--white);
}

.main-menu li:hover:before {
    width: 100%;
}